body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

a {
    color: rgba(0, 0, 0, 0.85);
}

.js-search-link {
    border: none;
    cursor: pointer;
    margin-bottom: 0;
}

.number-on-page {
    color: #f44336;
}

.filters-by-list {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.make-it-gap>div {
    margin-right: 10px;
}

/* .category-sub-menu>li::before {
     content: "" !important; 
} */

.layout {
    background: none;
}

.slick-list {
    margin-top: 100px;
}

.logo-dashboard {
    padding: 0.5rem;
    cursor: pointer;
}

.Sider-dashboard>.ant-layout-sider-children {
    border-right: 1px solid #e8e8e8;
}

.Sider-dashboard>.ant-layout-sider-children>.ant-menu-inline {
    border: none;
}